moviepy==1.0.3
faster-whisper
pytrends
wikipedia
groq
edge-tts
nest-asyncio
huggingface_hub
pydub
scipy
noisereduce
pyloudnorm
opencv-python-headless
easyocr
gspread
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
Pillow
numpy
